---
http_interactions:
- request:
    method: get
    uri: https://apidadosabertos.saude.gov.br/cnes/estabelecimentos/16993
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"codigo_cnes": 16993, "numero_cnpj_entidade": "76417005000186", "nome_razao_social":
        "MUNICIPIO DE CURITIBA", "nome_fantasia": "UMS SAO JOAO DEL REY PSF", "natureza_organizacao_entidade":
        null, "tipo_gestao": "M", "descricao_nivel_hierarquia": null, "descricao_esfera_administrativa":
        null, "codigo_tipo_unidade": 2, "codigo_cep_estabelecimento": "81900100",
        "endereco_estabelecimento": "RUA REALEZA", "numero_estabelecimento": "259",
        "bairro_estabelecimento": "SITIO CERCADO", "numero_telefone_estabelecimento":
        "3227-4061", "latitude_estabelecimento_decimo_grau": -25.5376626, "longitude_estabelecimento_decimo_grau":
        -49.2732444, "endereco_email_estabelecimento": "andrmoreira@sms.curitiba.pr.gov.br",
        "numero_cnpj": null, "codigo_identificador_turno_atendimento": "04", "descricao_turno_atendimento":
        "ATENDIMENTO NOS TURNOS DA MANHA, TARDE E NOITE", "estabelecimento_faz_atendimento_ambulatorial_sus":
        "SIM", "codigo_estabelecimento_saude": "4106900016993", "codigo_uf": 41, "codigo_ibge_municipio":
        410690, "descricao_natureza_juridica_estabelecimento": "1244", "codigo_motivo_desabilitacao_estabelecimento":
        null, "estabelecimento_possui_centro_cirurgico": 0, "estabelecimento_possui_centro_obstetrico":
        0, "estabelecimento_possui_centro_neonatal": 0, "estabelecimento_possui_atendimento_hospitalar":
        0, "estabelecimento_possui_servico_apoio": 1, "estabelecimento_possui_atendimento_ambulatorial":
        0, "codigo_atividade_ensino_unidade": "04", "codigo_natureza_organizacao_unidade":
        null, "codigo_nivel_hierarquia_unidade": null, "codigo_esfera_administrativa_unidade":
        null}

        '
  recorded_at: Mon, 25 Jul 2022 00:44:32 GMT
recorded_with: VCR 6.1.0
