---
http_interactions:
- request:
    method: get
    uri: https://apidadosabertos.saude.gov.br/cnes/estabelecimentos?limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"estabelecimentos": [{"codigo_cnes": 1004611, "numero_cnpj_entidade":
        null, "nome_razao_social": "LIVIA MEIRELES SOARES", "nome_fantasia": "LIVIA
        MEIRELES SOARES", "natureza_organizacao_entidade": null, "tipo_gestao": "M",
        "descricao_nivel_hierarquia": null, "descricao_esfera_administrativa": null,
        "codigo_tipo_unidade": 22, "codigo_cep_estabelecimento": "04309011", "endereco_estabelecimento":
        "AVENIDA ENGENHEIRO ARMANDO DE ARRUDA PEREIRA", "numero_estabelecimento":
        "2937", "bairro_estabelecimento": "JABAQUARA", "numero_telefone_estabelecimento":
        "11977557920", "latitude_estabelecimento_decimo_grau": null, "longitude_estabelecimento_decimo_grau":
        null, "endereco_email_estabelecimento": "livia@fonocomunicar.com.br", "numero_cnpj":
        null, "codigo_identificador_turno_atendimento": "04", "descricao_turno_atendimento":
        "ATENDIMENTO NOS TURNOS DA MANHA, TARDE E NOITE", "estabelecimento_faz_atendimento_ambulatorial_sus":
        "NAO", "codigo_estabelecimento_saude": "3550301004611", "codigo_uf": 35, "codigo_ibge_municipio":
        355030, "descricao_natureza_juridica_estabelecimento": "4000", "codigo_motivo_desabilitacao_estabelecimento":
        "08", "estabelecimento_possui_centro_cirurgico": 0, "estabelecimento_possui_centro_obstetrico":
        0, "estabelecimento_possui_centro_neonatal": 0, "estabelecimento_possui_atendimento_hospitalar":
        0, "estabelecimento_possui_servico_apoio": 0, "estabelecimento_possui_atendimento_ambulatorial":
        0, "codigo_atividade_ensino_unidade": "04", "codigo_natureza_organizacao_unidade":
        null, "codigo_nivel_hierarquia_unidade": null, "codigo_esfera_administrativa_unidade":
        null}, {"codigo_cnes": 647, "numero_cnpj_entidade": "10565000000192", "nome_razao_social":
        "PREFEITURA DA CIDADE DO RECIFE", "nome_fantasia": "US 144 POLICLINICA CLEMENTINO
        FRAGA", "natureza_organizacao_entidade": null, "tipo_gestao": "M", "descricao_nivel_hierarquia":
        null, "descricao_esfera_administrativa": null, "codigo_tipo_unidade": 4, "codigo_cep_estabelecimento":
        "52280510", "endereco_estabelecimento": "RUA JAPARATUBA", "numero_estabelecimento":
  [...]
