---
http_interactions:
- request:
    method: get
    uri: http://cnes.datasus.gov.br/services/estabelecimentos?limit=20&municipio=431490&nome=SANTA%20CASA&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"4314902237253","cnes":"2237253","noFantasia":"IRMANDADE DA
        SANTA CASA DE MISERICORDIA DE PORTO ALEGRE","noEmpresarial":"IRMANDADE DA
        SANTA CASA DE MISERICORDIA DE PORTO ALEGRE","uf":"RS","noMunicipio":"PORTO
        ALEGRE","gestao":"M","natJuridica":"3","atendeSus":"S"},{"id":"4314909931511","cnes":"9931511","noFantasia":"OPO
        1 SANTA CASA DE PORTO ALEGRE","noEmpresarial":"MUNICIPIO DE PORTO ALEGRE","uf":"RS","noMunicipio":"PORTO
        ALEGRE","gestao":"M","natJuridica":"1","atendeSus":"S"}]'
  recorded_at: Mon, 25 Jul 2022 00:59:32 GMT
recorded_with: VCR 6.1.0
